{% extends 'layout.html' %}

{% block content %}
    <div>
        <p>
            {{ fromDB.user_name }}
        </p>
        <p>
            {{fromDB.user_region}}
        </p>
        {% if owner %}
            <p>
                {{ fromDB.user_contact }}
            </p>
            <script>
                $(document).ready(() => {
                    $('#doge-user').attr('href', "{% url 'user:logout' %}").text('Logout').off('click');
                    $('form[name=account]').remove();
                });
            </script>
    <p>
        <a href="{% url 'user:update' %}" class="btn btn-light pull-right" role="button">정보 수정</a>
        <a href="{% url 'dog:register' %}" class="btn btn-light pull-right" role="button">강아지 등록</a>
    </p>
        {% endif %}
    </div>
    <div>
        {{Dogs}}
    </div>
{% endblock %}