{% extends 'layout.html' %}

{% block content %}
    <div>
        <p>
            {{ User.user_name }}
        </p>
        <p>
            {{User.user_region}}
        </p>
        {% if owner %}
            <p>
                {{ User.user_contact }}
            </p>
            <script>
                $(document).ready(() => {
                    $('#doge-user').attr('href', "{% url 'user:logout' %}").text('Logout').off('click');
                    $('form[name=account]').remove();
                    $('#editInfo').attr('href', "{% url 'user:update' %}")
                });
            </script>
    <p>
        <a id="editInfo" class="btn btn-light pull-right" role="button">정보 수정</a>
    </p>
        {% endif %}
    </div>
    <div>
        {{Dogs}}
    </div>
{% endblock %}