{% extends 'layout.html' %}

{% block content %}
{% include 'sign.html'%}
<script>
    $(document).ready(() => {
        $('form[name=account]').remove()
        $('#doge-user').remove()
        {% if doesJoin %}
            $('#varMsg').text('계좌의 정보를 등록합니다.')
            $('#submit').val('정보 등록')
        {% else %}
            $('#varMsg').text('계좌의 정보를 수정합니다.')
            $('#submitButton').val('정보 수정')
        {% endif %}
    })
</script>
<div>
    {{ address }} <span id = 'varMsg'></span>
</div>
<form method = 'POST'>
    {% csrf_token %}
    {{ form }}
    <input id = 'submitButton' type = 'button' onclick = 'sign()'>
</form>
{% endblock  %}