{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogegram</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src = "{% static 'resources/doge_abi.js' %}"></script>
</head>
<script>
    let contract;
    const contractAddress = "0xb3da206021b55620ca77a75d71111e4710955d3d";
    $(document).ready(async () => {
        if (ethereum) { // 최신 메타마스크라면,
            const web3 = new Web3(ethereum);
            try { // 권한 요청이 필요
                await ethereum.enable();
            } catch (err) {
                // 권한 요청 거부시 코드
            }
        } else if (typeof web3 !== 'undefined') { // 구버전 메타마스크라면
            web3 = new Web3(web3.currentProvider); // 권한 요청 없이 실행
        } else {
            // 메타마스크가 없으면 실행될 코드
        }
        // contract 객체 할당
        contract = web3.eth.contract(doge_ABI).at(contractAddress);
        // 홈버튼 할당
        // 유저버튼 할당
        $('form[name=account]')
        .append('<input type="hidden" name="address" value='+web3.eth.accounts[0]+'>');
        {% if alertMsg %}
        alert('{{ alertMsg }}');
        {% endif %}
    });
</script>
<body>
    <!-- Navbar (fixed on top) 내비게이션 바 (위쪽에 고정) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="{% url 'trade:index' %}" id="doge-home" class="w3-bar-item w3-button">
                <b>Doge</b>
                gram
            </a>
        <!-- Float links to the right. -->
            <div class="w3-right w3-small">	
                <a href="#;" id="doge-user" class="btn btn-info" role="button" onclick="document.account.submit()">User</a>
                <form name = 'account' method = 'POST' action = "{% url 'user:info' %}">
                {% csrf_token %}
                </form>
            </div> 

        </div>
    </div>	
    <div style = 'margin-bottom: 54px;'></div>
    {% block content %}
    {% endblock %}
</body>
</html>