{% extends 'layout.html' %}

{% block content %}
	<!-- Register a dog Section (강아지 등록) -->
	<div class="w3-container w3-padding-32" id="Register">
		<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"> Register a dog </h3><br>

		<form action="/dog/register/" method="POST" id="form1" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name="dogId" id="dogId" value="">
			Name<input class="w3-input w3-border" id="dogName" name="dogName" type="text"></p>
			Birthday<br><input style="width:100%;height:40px;" type="date" name="dogBirth" id="dogBirth">
			<br><br>
			<!--부모견 정보 입력-->
			<select class="w3-select" style="height:40px;" name="dogDad" id="dogDad">
				<option value="0">Select Dad Dog</option>
				{%for each in mydogs%}
				<option value={{each.dog_id}}>{{each.dog_name}}</option>
				{%endfor%}
			</select>
			<br><br>
			<select class="w3-select" style="height:40px;" name="dogMom" id="dogMom">
				<option value="0">Select Mom Dog</option>
				{%for each in mydogs%}
				<option value={{each.dog_id}}>{{each.dog_name}}</option>
				{%endfor%}
			</select>
			<br><br>
			<!--강아지 상세정보 입력-->
			<select class="w3-select" style="height:40px;" name="dogBreed" id="dogBreed">
				<option value="" disabled selected>Select Breed</option>
				{%for index, value, size in breedList%}
				<option value={{index}}>{{value}}</option>
				{%endfor%}
			</select>
			<br><br>
			<select class="w3-select" style="height:40px;" name="dogGender" id="dogGender">
				<option value="" disabled selected>Select Gender</option>
				<option value="0">Male</option>
				<option value="1">Female</option>
			</select>
			<br><br>
			<select class="w3-select" style="height:40px;" name="coatLength">
				<option value="" disabled selected>Coat Length</option>
				<option value="0">극단모</option>
				<option value="1">단모</option>
				<option value="2">중단모</option>
				<option value="3">중모</option>
				<option value="4">중장모</option>
				<option value="5">장모</option>
				<option value="6">초장모</option>
			</select>
			<br><br>
			<p><label>Coat Color</label>
				<input class="w3-input w3-border" name="coatColor" type="text"></p>
			<!--강아지 등록번호 입력-->
			<p><label>Registration Number</label>
				<input class="w3-input w3-border" name="regiNo" id="regiNo" type="text"></p>
			<p><label>RFID</label>
				<input class="w3-input w3-border" name="RFID" id="RFID" type="text"></p>
			<br>
			<!--강아지 사진 입력-->
			Image : <input type="file" name="dogImages" multiple>
			<br><br>
			<input type='button' class="w3-button w3-black w3-section" onclick='registerDog()' value="SUBMIT">
			<i class="fa fa-paper-plane"></i>
			</button>
		</form>
		<hr>
	</div>
	<script>
		function registerDog() {
			console.log(typeof $('#dogGender').val());
			reg_dog($('#dogBirth').val(), $('#dogBreed').val(), $('#dogGender').val(),
				true, $('#regiNo').val(), $('#RFID').val(), $('#dogDad').val(), $('#dogMom').val(), "dogId");
		}

		function reg_dog(_birth, _kind, _gender, _alive, _regiNo, _rfid, _dadId, _momId, _inputId) {
			let birth = (new Date(_birth).getTime() / 1000) - (3600 * 9)
			let gender = _gender == 0 ? false : true;
			contract.registerDog.sendTransaction(birth, _kind, gender, _alive, _regiNo, _rfid, _dadId, _momId,
				(err, res) => {
					if (err) console.log(err);
					contract.newDog({}, (err2, eve) => {
						if (err2) console.log(err2);
						if (eve.args.owner === web3.eth.accounts[0]) {
							//find_dog(eve.args.dogId.toNumber());
							$('#' + _inputId).val(eve.args.dogId.toNumber());
							$('#form1').submit();
						}
					});
				}
			);
		}
	</script>
{% endblock %}